.whole {
    width: 900px;
    background-color: #cbe5ff;
    padding-left: 40px;
    padding-right:40px;
    height: 1500px;
    margin:0px auto;
    
}
.header {
    width:900px;
    height:360px;
    background-color:#cbe5ff;
    position: relative;
    top:80px;
    left:-5px;
    z-index:1;
    
}   

.preview {
    width: 750px;
    height:360px;
    background-color: #84befe;
    position: relative;
    top:-200px;
    left: 150px;
    z-index:2;
}
.box {
    height: 200px;
    width:200px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 0px;
    z-index:3;
}
.mid {
    height:370px;
    width:900px;
    background-color:white;
    position: relative;
    left:0px;
    top:90px ;
    z-index:4;
}
.nav a {
float:left;
width:178px;
padding-top:10px;
height: 30px;
text-decoration:none;
color:white;
background-color:#84befe;
border-right:2px solid white;
text-align:center;
position: relative;
left:0px;
top:90px;
z-index:5;
}

.nav a:hover {
background-color:white;
color:#84befe;
}

.last {
    height:300px;
    width:900px;
    background-color:white;
    position:relative;
    top:95px;
    left:0px;
    z-index:6;
}
.left {
    float:left;
    width:430px;
    height:283px;
    background-color:white;
    position:relative;
    top:5px;
    left:5px;
    z-index:7;
    border-style:dashed;
    border-width:4px;
    border-color:#cbe5ff;
}
.right {
    float:left;
    width:430px;
    height:283px;
    background-color:white;
    position:relative;
    top:5px;
    left:20px;
    z-index:8;
    border-style:dashed;
    border-width:4px;
    border-color:#cbe5ff;
}

.left-head {
    float:left;
    width:421px;
    height:60px;
    background-color:#84befe;
    position: relative;
    top:5px;
    left:4px;
    z-index:9;
}
.right-head {
    float:left;
    width:421px;
    height:60px;
    background-color:#84befe;
    position: relative;
    top:5px;
    left:4px;
    z-index:9;
}
.footer {
    float:right;
    position: relative;
    top:100px;
    right:15px;
    z-index:10;
    color:#84befe;
}

.rect a{
    float:right;
    font-size:28px;
width:55px;
height: 150px;
text-decoration:none;
color:#84befe;
background-color:white;
border-style:dashed;
border-color:#84befe;
text-align:center;
position: fixed;
right: -5px;
top:200px;
z-index:11;
padding:10px;
}

body {
    font-size: 17px;
    font-family: Arial;
}